<footer class"container-fluid bg-dark">
    <div class="row bg-dark">
        <div class="col">
            <h4 class="text-light d-flex justify-content-center">À propos</h4>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item d-flex justify-content-center">
                <a class="text-light " aria-current="page" href="{{path('app_profile_index')}}">Mon Compte</a>
                </li> 
                <li class="nav-item d-flex justify-content-center">
                <a class="text-light" aria-current="page" href="{{path('app_locate')}}">Plan du site</a>
                </li> 
                <li class="nav-item d-flex justify-content-center">
                <a class="text-light" aria-current="page" href="{{path('app_contact')}}">Contacter-nous</a>
                </li> 
            </ul>
        </div>

        <div class="col">
            <h4 class="text-light d-flex justify-content-center">Mentions légales</h4>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex justify-content-center">
                <a class="text-light" aria-current="page" href="{{path('app_main')}}">Politique de confidentialité</a>
                </li> 
                <li class="nav-item d-flex justify-content-center">
                <a class="text-light" aria-current="page" href="{{path('app_main')}}">Conditions générales de vente</a>
                </li> 
            </ul>
        </div>
    </div>

    <div class="row bg-dark">
        <div class="col-12 text-light">
            <p class="d-flex justify-content-center">L'abus d'alcool est dangereux pour la santé.</p>
            <p class="d-flex justify-content-center">Et puis de toute façon, au bout d’un moment ton palais ne sent plus rien alors ça ne vaut pas le coup !</p>
        </div>
    </div>
</footer>
