{% extends 'base.html.twig' %}

{% block title %}Commandes de {{ app.user.firstname}}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4">Menu Profil</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{{ path('app_profile_index') }}" class="nav-link text-white">
                  Home
                </a>
              </li>
              {% if is_granted('ROLE_ADMIN') %}
              <li>
                <a href="{{ path('admin') }}" class="nav-link text-white">
                  Menu admin
                </a>
              </li>
                {% endif %}
              <li>
                <a href="{{ path('app_profile_orders') }}" class="nav-link active" aria-current="page">
                  Mes Commandes
                </a>
              </li>
              <li>
                <a href="{{ path('app_profile_edit', { 'id': app.user.id}) }}" class="nav-link text-white">
                  Modifier profil
                </a>
              </li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="col-8">
        <h1>EN CONSTRUCTION</h1>
    </div> 
</div>
{% endblock %}
