{% extends "base.html.twig" %}

{% block title %}Detail d'{{ product.name }} {% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>{{ product.name }}</h1>
        </div>
        <div class="col-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in product.images %}
                    <div class="carousel-item {{(loop.index0 == 0 ) ? 'active' : ''}}">
                        <img class="w-50" src="{{asset('assets/img/biere/') ~ image.name }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
        <div class="col-6">
            <p>Catégorie : {{ product.categories.name }}</p>
            <p>{{ product.description }}</p>
            <p>Prix : {{ product.price / 100 }} €</p>
            {% if product.stock > 0 %}
                <a href="#" class="btn btn-success mb-3">Ajouter au panier</a>
            {% else %}
                <p class="text-danger">Temporairement en rupture de stock</p>
            {% endif %}
            
        </div>
    </section>
</main>
{% endblock %} 